name: flutter_project
description: "A new Flutter project."
publish_to: "none"
version: 0.1.0

environment:
  sdk: ^3.5.4

dependencies:
  flutter:
    sdk: flutter
  # SQLite dependencies
  sqlite3: ^2.4.0
  sqlite3_flutter_libs: ^0.5.0
  sqlite3_web: ^0.1.0
  riverpod: ^2.5.1
  flutter_riverpod: ^2.5.1
  uuid: ^4.2.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  integration_test:
    sdk: flutter
  flutter_lints: ^4.0.0

flutter:
  uses-material-design: true
